## PySpark DataFrames
- Filter Operation
- &, |, ==
- ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   NAME|AGE|EXPERIENCE|SALARY|
+-------+---+----------+------+
|    ABI| 31|        10| 30000|
|BANERJI| 15|         8| 25000|
| CHARLI| 30|         8| 20000|
|   DOMC| 25|         6| 20100|
| HARSHA| 29|         3| 15000|
|   PAUL| 32|         5| 18250|
+-------+---+----------+------+

- Filter Operations

In [4]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("SALARY<=20000").show()

+------+---+----------+------+
|  NAME|AGE|EXPERIENCE|SALARY|
+------+---+----------+------+
|CHARLI| 30|         8| 20000|
|HARSHA| 29|         3| 15000|
|  PAUL| 32|         5| 18250|
+------+---+----------+------+

df_pyspark.filter(df_pyspark['SALARY']<=20000).show()

In [5]:
df_pyspark.filter("SALARY<=20000").select(['NAME','AGE']).show()

+------+---+
|  NAME|AGE|
+------+---+
|CHARLI| 30|
|HARSHA| 29|
|  PAUL| 32|
+------+---+

In [7]:
df_pyspark.filter((df_pyspark['SALARY']<=20000) & (df_pyspark['SALARY']>=15000)).show()

+------+---+----------+------+
|  NAME|AGE|EXPERIENCE|SALARY|
+------+---+----------+------+
|CHARLI| 30|         8| 20000|
|HARSHA| 29|         3| 15000|
|  PAUL| 32|         5| 18250|
+------+---+----------+------+

In [8]:
df_pyspark.filter((df_pyspark['SALARY']<=20000) | (df_pyspark['SALARY']>=15000)).show()

+-------+---+----------+------+
|   NAME|AGE|EXPERIENCE|SALARY|
+-------+---+----------+------+
|    ABI| 31|        10| 30000|
|BANERJI| 15|         8| 25000|
| CHARLI| 30|         8| 20000|
|   DOMC| 25|         6| 20100|
| HARSHA| 29|         3| 15000|
|   PAUL| 32|         5| 18250|
+-------+---+----------+------+

In [9]:
df_pyspark.filter(~(df_pyspark['SALARY']<=20000)).show()

+-------+---+----------+------+
|   NAME|AGE|EXPERIENCE|SALARY|
+-------+---+----------+------+
|    ABI| 31|        10| 30000|
|BANERJI| 15|         8| 25000|
|   DOMC| 25|         6| 20100|
+-------+---+----------+------+