## PySpark Basic Introduction

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\prabhakar venkat\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\prabhakar venkat\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ygments (c:\users\prabhakar venkat\anaconda3\lib\site-packages)

[notice] A new release of pip is available: 24.1.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

       NAME  AGE
0     AGARO   15
1  BAGGAUTI   22
2     LUCCI   25

In [4]:
# To know the type of data while pandas is running
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [7]:
df_pyspark = spark.read.csv('test1.csv',header=True, inferSchema=True)
df_pyspark

DataFrame[NAME: string, AGE: int]

In [8]:
# To view the entire dataset
df_pyspark.show()

+--------+---+
|    NAME|AGE|
+--------+---+
|   AGARO| 15|
|BAGGAUTI| 22|
|   LUCCI| 25|
+--------+---+

In [9]:
# To make the header line same as shown in the csv file
spark.read.option('header', 'true').csv('test1.csv')

DataFrame[NAME: string, AGE: string]

In [10]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv').show()

+--------+---+
|    NAME|AGE|
+--------+---+
|   AGARO| 15|
|BAGGAUTI| 22|
|   LUCCI| 25|
+--------+---+

In [11]:
# To know the type of data while Spark is running
type(df_pyspark)

NoneType